html {
  font-size: 16px;
  height: 100%;
}

body {
  overflow: hidden;
}

main {
  overflow: hidden;
  height: 100%;
  width: 100%;
}

.sidebar {  
  display: flex;
  flex-direction: row;
  
  height: 100%;
  width: 21%;
  min-width: 20rem;

  position: fixed;
  background-color: rgb(154, 147, 147);
  opacity: 98%;
  top: 0;
  right: 0;
  z-index: 1;
  transition-duration: 1.5s;
}

.sidebarbtn {
  transition-duration: 0.2s;
  background-color: black;

  width: 3%;
  min-width: .1rem;

  opacity: 70%;
  height: 100%;
  border: none;
}

.sidebarbtn:hover {
  background-color: #b5b5b5;
}

.sidebarbtn:active {
  background-color: black;
}

.sidebar-content {
  display: flex;
  flex-direction: column;
}

#array-view {
  box-sizing: border-box;
  overflow: auto;
}

.p5Canvas {
  display: block;
}

#settings {
  box-sizing: border-box;
}